<h2 class="page-header">Music Board</h2>
<!-- <p>Welcome to your Music Board</p> -->



<canvas id="c"></canvas>

<div class="container">

  <div class="row">
    <div class="col-md-4 musicControls">
      Loops
      <form>
        <button id="button-loop-1" type="button" class="dial recordable" value="10">synth</button>
        <button id="button-loop-2" type="button" class="dial recordable" value="10">beat</button>
        <button id="button-loop-3" type="button" class="dial recordable" value="10">sax</button>
      </form>
    </div>


    <div class="col-md-4 musicControls">
      Volume Controls
      <form>
        <div>
          <!-- <button id="button-control-1" type="button" value="4">volume</button> -->
          <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
        </div>
        <div>

          <!-- clock -->
          <div class="clock">
            <h2>Record Your Jam!</h2>
            <p><span id="seconds">00</span>:<span id="tens">00</span></p>
            <button type="button" id="button-start">Start Recording</button>
            <button type="button" id="button-finished">Finished Recording</button>
            <button type="button" id="button-reset">Reset Recording</button>
            <button type="button" id="button-playback">Playback</button>
            <button type="button" id="button-playback">Stop</button>
          </div>

        </div>
      </form>
    </div>

    <div class="col-md-4 musicControls">
      Effects
      <form>
        <button id="button-loop-4" type="button" class="dial recordable" value="10">bass</button>
        <button id="button-loop-5" type="button" class="dial recordable" value="10">clav</button>
        <button id="button-loop-6" type="button" class="dial recordable" value="10">guitar</button>
      </form>
    </div>

  </div>

  <br>

  <!-- buttons for music artworks -->
  <button id="button-loop-7" type="button" class="recordable albumbutton"></button>
  <button id="button-loop-8" type="button" class="recordable albumbutton"></button>
  <button id="button-loop-9" type="button" class="recordable albumbutton"></button>
  <button id="button-loop-10" type="button" class="recordable albumbutton"></button>
  <button id="button-loop-11" type="button" class="recordable albumbutton"></button>
  <button id="button-loop-12" type="button" class="recordable albumbutton"></button>
  <button id="button-loop-13" type="button" class="recordable albumbutton"></button>
  <button id="button-loop-14" type="button" class="recordable albumbutton"></button>
  <button id="button-loop-15" type="button" class="recordable albumbutton"></button>

  <br>
  <br>

  <div class="row">
    <div class="col-md-6 mainTitle">
      Twitter
      <!-- <img src="img/twitterimg.png" alt="HTML5 Icon"> -->
    </div>

    <div class="col-md-6 mainTitle">
      Youtube page
    </div>

  </div>

  <div id="users_mixtapes">

      <!-- {{ tapes }} -->

  </div>

</div>

  <br>

<div class="container">
       {{#each tapes}}

  <div class="well">

    <br>
    <div>
    <h3>  User: {{ username }} </h3>
    </div>
        <div>
    <small> Recording: {{ recording }}</small>
  </div>
    <div>
      <a id="{{ _id }}" class="btn btn-success glyphicon glyphicon-play-circle playButton"></a>
      <a class="btn btn-info glyphicon glyphicon-heart"></a>
        {{#isOwner username }}
        <!-- username == recordingtapes.username -->
      <a id="{{ _id }}" class="btn btn-danger glyphicon glyphicon-trash delete-btn"></a>
        {{/isOwner}}
    </div>
  </div>

        {{/each}}
      <!-- if user.name == recordingtapes.username -->
</div>

<script>
var tapes = {{{ mixtapes }}};


</script>
